.btn {
	vertical-align: middle;
	user-select: none;
	display: inline-block;
	padding: rem-calc(8) rem-calc(16);
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 1px;
	color: #5F6368;
	cursor: pointer;
	font-family: arial,sans-serif;
	font-size: inherit;
	text-align: center;
	white-space: nowrap;


	&:hover{
		border: 1px solid darken(#f6f6f6, 15%);
		background: #efefef;
	}

	&.mini {
		padding: rem-calc(4) rem-calc(8);
		font-size: $body-font-size - 1;
	}

}
.verde {
	background: $verde;
	border: 1px solid darken($verde, 5%);
	color: #fff;

	&:hover{
		background: darken($verde, 3%);
		border: 1px solid darken($verde, 8%);
		color: #fff;

	}
	&:focus{
		outline:0;
		background: darken($verde, 3%);
		border: 1px solid darken($verde, 8%);

	}
}
.rojo {
	background: $rojo;
	border: 1px solid darken($rojo, 5%);
	color: #fff;

	&:hover{
		background: darken($rojo, 8%);
		border: 1px solid darken($rojo, 25%);
		color: #fff;

	}
	&:focus{
		outline:0;
		background: darken($rojo, 10%);
		border: 1px solid darken($rojo, 25%);

	}
}
.azul {
	background: $azul;
	border: 1px solid darken($azul, 5%);
	color: #fff;

	&:hover{
		background: darken($azul, 8%);
		border: 1px solid darken($azul, 25%);
		color: #fff;

	}
	&:focus{
		outline:0;
		background: darken($azul, 10%);
		border: 1px solid darken($azul, 25%);

	}
}
/*Botones - Experimentales*/
.botonex {
	box-sizing: border-box;
	transition: background-color 0.2s;
	display: inline-block;
	padding: rem-calc(8) rem-calc(16);
	background: hsla(31, 15%, 50%, 0.15);
	color: inherit;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
	font-family: Arial,sans-serif;
	font-size: inherit;
	font-weight: lighter;
	line-height: $body-font-size - 3;
	text-decoration: none;
	white-space: nowrap;
	text-align: center;

	&:active,
	&:focus,
	&:hover {
		outline:0px;
		background: hsla(31, 15%, 50%, 0.25);
		text-decoration: none;}
}
.botonex-verde {
	background-color: hsl(150, 45%, 50%);
	color: #fff;
	border: 1px solid hsl(150, 45%, 50%);
&:active,
&:focus,
&:hover {
	color: #fff;
	background-color: hsl(150, 45%, 40%);
	border: 1px solid darken(hsl(150, 45%, 40%), 4%);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
}

.botonex-gris {
  background-color: hsl(0, 0%, 95%);
  color: #5F6368;
  border: 1px solid hsl(0, 0%, 95%);

&:active,
&:focus,
&:hover {
  background: hsla(0, 0%, 95%, 0.7);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
}
}
