.logo {
    font-family: "Times New Roman", Sans-Serif;
    font-size: rem-calc(56);
    letter-spacing: rem-calc(-4);
    text-decoration: none;
    color: #444444;
    text-shadow: 2px 1px 1px #00000036;
}
